
/* ---------- general styling ---------- */
html {
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: #c4ac7e;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: #6094b3;
  width: 20%;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1em;
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: #c4ac7e;
  text-decoration: underline;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  background: ##E5ECF2;
 
}


/* ---------- Grid container ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
}

.grid-container>article img {
  max-width: 200px;
  width: 100%;
}

/* 
.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
} */

/* ---------- Fav Brand button ---------- */

article button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 10px;
  color: white;
  background-color: #A8B4C0;
  width: 40%;
}

article button.rm {
  background-color: #A8B4C0;
}